<div class="bg-[#1B5E20] podsumowanie">
  <div class="max-w-7xl mx-auto">
    <div style="display: flex; flex-direction: row; align-items: flex-start; gap: 1em;">

      <div style="flex: 0 0 100%;">

        <h3 class="text-2xl font-medium mb-4 text-white">Our Mission</h3>

        <p class="mb-4 text-white text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in velit est. Vivamus quam metus, imperdiet eget
          nisl id,
          molestie posuere est. Sed quis porttitor justo, id tincidunt dui. Nunc sit amet libero et nisl sagittis
          posuere.
          Curabitur imperdiet ante odio, eget posuere metus iaculis at. Praesent hendrerit posuere faucibus.
          Pellentesque eu urna sit amet enim auctor interdum.
          Praesent quis nulla rutrum, condimentum augue nec, sagittis ante. In varius tempus augue ac eleifend. Etiam
          hendrerit nec elit eu euismod.
          Nullam facilisis neque felis. Phasellus mollis dolor a luctus iaculis. In at sagittis ipsum. In dapibus vel
          lorem elementum tempus.
        </p>

        <p class="mb-4 text-white text-justify">
          Cras sapien augue, sollicitudin a nibh sit amet, tempor commodo dolor. In ullamcorper tellus non arcu
          sollicitudin,
          sed iaculis neque faucibus. Curabitur a dui vitae ante venenatis porta sagittis finibus turpis. Donec sit amet
          porttitor nulla.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus a dictum massa. Proin egestas pulvinar
          justo, condimentum fermentum enim pulvinar non.
          Fusce rutrum, est non vestibulum ultricies, neque mauris mollis lectus, sed venenatis libero felis sit amet
          erat.
          Quisque ut elit euismod, molestie risus eu, ornare erat.
        </p>

      </div>
    </div>
  </div>
</div>
