<section class="bg-white py-12">
  <div class="mx-auto max-w-7xl px-4">
    <div class="flex flex-col gap-6 md:flex-row md:items-start md:gap-8">

      <div class="flex-1">

        <h3 class="mb-6 text-2xl font-semibold text-black md:text-3xl">
          Our Mission
        </h3>

        <p class="mb-6 text-justify leading-7 text-black">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in velit est. Vivamus quam metus, imperdiet eget
          nisl id, molestie posuere est. Sed quis porttitor justo, id tincidunt dui. Nunc sit amet libero et nisl
          sagittis posuere. Curabitur imperdiet ante odio, eget posuere metus iaculis at. Praesent hendrerit posuere
          faucibus. Pellentesque eu urna sit amet enim auctor interdum. Praesent quis nulla rutrum, condimentum augue
          nec, sagittis ante. In varius tempus augue ac eleifend. Etiam hendrerit nec elit eu euismod. Nullam facilisis
          neque felis. Phasellus mollis dolor a luctus iaculis. In at sagittis ipsum. In dapibus vel lorem elementum
          tempus.
        </p>

        <p class="text-justify leading-7 text-black">
          Cras sapien augue, sollicitudin a nibh sit amet, tempor commodo dolor. In ullamcorper tellus non arcu
          sollicitudin, sed iaculis neque faucibus. Curabitur a dui vitae ante venenatis porta sagittis finibus turpis.
          Donec sit amet porttitor nulla. Phasellus a dictum massa. Proin egestas pulvinar justo, condimentum fermentum
          enim pulvinar non. Fusce rutrum, est non vestibulum ultricies, neque mauris mollis lectus, sed venenatis
          libero felis sit amet erat. Quisque ut elit euismod, molestie risus eu, ornare erat.
        </p>

      </div>
    </div>
  </div>
</section>
