.podsumowanie {
  padding: 2em;
  color: white;
  min-height: 20rem;
}

.podsumowanie h3 {
  color: white;
  font-weight: 600;
  padding-top: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.podsumowanie p {
  color: white;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .podsumowanie div[style] {
    flex-direction: column !important;
  }

  .podsumowanie div[style] > div {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 1em;
  }
}


