.example-button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding-right: 1em;
}

.example-spacer {
  flex: 1 1 auto;
  margin-right: 1em;
}

.register-button {
  margin-right: 8px;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  /*flex: 1;*/
  /*padding-top: 64px;*/
  padding-top: 2em;
  /*margin-left: 16px;*/
  /*margin-right: 16px;*/
}
