services:
  backend:
    build: backend
    container_name: backend
    ports:
      - 8080:8080
    environment:
      - POSTGRES_DB=healthy_carbs
    networks:
      - spring-postgres
    depends_on:
      - db

  db:
    image: postgres
    container_name: postgres_db
    restart: always
    secrets:
      - db-password
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - spring-postgres
    environment:
      - POSTGRES_DB=healthy_carbs
      - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
    expose:
      - 5432

  frontend:
    build: frontend
    container_name: frontend
    ports:
      - 4200:4200
    networks:
      - spring-postgres
    depends_on:
      - backend

volumes:
  db-data:

secrets:
  db-password:
    file: db/password.txt

networks:
  spring-postgres:
