version: '3.8'

services:
  postgres:
    image: postgres:15
    container_name: healthycarbs-postgres
    restart: always
    env_file:
      - .env.prod
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    container_name: healthycarbs-backend
    build: ./backend
    depends_on:
      - postgres
    env_file:
      - .env.prod
    ports:
      - "8080:8080"

  frontend:
    container_name: healthycarbs-frontend
    build: ./frontend
    ports:
      - "4200:80"

volumes:
  pgdata:
