<header class="p-3" id="navbar">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a [routerLink]="['']" class="nav-link px-2" id="navbar-logo">Healthy Carbs</a></li>
        <li><a [routerLink]="['oferta']" class="nav-link px-2" [class.text-secondary]="isActive('oferta')" [class.text-white]="!isActive('oferta')">Oferta</a></li>
        <li><a [routerLink]="['cennik']" class="nav-link px-2" [class.text-secondary]="isActive('cennik')" [class.text-white]="!isActive('cennik')">Cennik</a></li>
        <li><a [routerLink]="['FAQs']" class="nav-link px-2" [class.text-secondary]="isActive('FAQs')" [class.text-white]="!isActive('FAQs')">FAQs</a></li>
        <li><a [routerLink]="['o-nas']" class="nav-link px-2" [class.text-secondary]="isActive('o-nas')" [class.text-white]="!isActive('o-nas')">O nas</a></li>
      </ul>

      <div class="text-end">
        @if (!isLoggedIn)
        {
          <button type="button" class="btn btn-outline-light me-2" [routerLink]="['/login']">Login</button>
          <button type="button" class="btn btn-warning" [routerLink]="['/register']">Sign-up</button>
        }
        @else
        {
          <button type="button" class="btn btn-outline-light me-2 btn-username" [routerLink]="['/user']">{{ username }}</button>
          <button type="button" class="btn btn-outline-light me-2" (click)="logout()">Logout</button>
        }
      </div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>
