.example-button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  padding-right: 1em;
}

.example-spacer {
  flex: 1 1 auto;
  margin-right: 1em;
}

.register-button {
  margin-right: 8px;
}

#navbar {
  background-color: var(--nav-bg-color);
}
