.example-button-row {
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Aligns items vertically centered */
  flex-grow: 1; /* Makes the spacer take all the available space */
  padding-right: 1em; /* Add some padding to the right */
}

.example-spacer {
  flex: 1 1 auto; /* Allows the previous span to take the remaining space */
  margin-right: 1em; /* Optional: Adds some margin before the buttons */
}

.register-button {
  margin-right: 8px;
}
