<div class="row w-100 py-2 justify-content-center">
  <div class="col-md-9 personal-info">
    <div class="container mt-4">
      <h3 class="text-center mb-4">Password modification</h3>
      <form class="form-horizontal" role="form" [formGroup]="form" (submit)="onSubmit()">

        <div class="form-group row justify-content-center">
          <label class="col-lg-3 col-md-4 col-form-label text-lg-right">Old password:</label>
          <div class="col-lg-6 col-md-7">
            <input class="form-control" type="password" id="oldPassword" formControlName="oldPassword">
          </div>
        </div>

        <div class="form-group row justify-content-center mt-3">
          <label class="col-lg-3 col-md-4 col-form-label text-lg-right">New password:</label>
          <div class="col-lg-6 col-md-7">
            <input class="form-control" type="password" id="newPassword" formControlName="newPassword">
          </div>
        </div>

        <div class="row justify-content-center mt-4">
          <div class="col-lg-6 col-md-7">
            <button class="btn btn-primary w-100 py-2" id="update_button" type="submit">Update password</button>
          </div>
        </div>

      </form>
    </div>

    {{ errorMessage }}

  </div>
</div>
