<div class="flex items-center justify-center px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-lg w-full space-y-8  p-8">

    <app-auth-header
      [headerSubText]="'Join us to start your healthy journey'"
      [headerText]="'Create an account'"
    />

    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      class="mt-8 space-y-6"
    >

      <div class="grid grid-cols-2 gap-4">

        @for (field of registerFormFields; track field.key) {
          <app-text-input
            [autocapitalize]="field.autocapitalize ?? 'none'"
            [autocomplete]="field.autocomplete"
            [class]="field.containerClass ?? 'col-span-2'"
            [formControlName]="field.key"
            [id]="field.key"
            [label]="field.label"
            [placeholder]="field.placeholder"
            [type]="field.type"
          />
        }

      </div>

      <div>
        <button
          [class]="getButtonClasses()"
          [disabled]="form.invalid || isSubmitting()"
          type="submit"
        >
          {{ isSubmitting() ? 'Creating account...' : 'Create account' }}
        </button>
      </div>

      @if (errorMessage()) {
        <app-error-message [message]="errorMessage()"/>
      }
    </form>

    <app-auth-helper-text
      [infoText]="'Already have an account?'"
      [linkText]="'Sign in'"
      [linkUrl]="'/login'"
    />

  </div>
</div>
