<div class="flex items-center justify-center px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-lg w-full space-y-8  p-8">

    <div class="text-center">
      <h2 class="text-3xl font-extrabold text-emerald-900">
        Create an account
      </h2>
      <p class="mt-2 text-sm text-gray-600">
        Join us to start your healthy journey
      </p>
    </div>

    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      class="mt-8 space-y-6"
    >

      <div class="grid grid-cols-2 gap-4">

        @for (field of registerFormFields; track field.key) {
          <app-text-input
            [autocapitalize]="field.autocapitalize ?? 'none'"
            [autocomplete]="field.autocomplete"
            [class]="field.containerClass ?? 'col-span-2'"
            [formControlName]="field.key"
            [id]="field.key"
            [label]="field.label"
            [placeholder]="field.placeholder"
            [type]="field.type"
          />
        }

      </div>

      <div>
        <button
          [disabled]="form.invalid || isSubmitting()"
          class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium
          rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none
          focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500 disabled:opacity-50
          disabled:cursor-not-allowed transition-colors"
          type="submit"
        >
          {{ isSubmitting() ? 'Creating account...' : 'Create account' }}
        </button>
      </div>

      @if (errorMessage()) {
        <app-error-message [message]="errorMessage()"/>
      }
    </form>

    <p class="mt-2 text-center text-sm text-gray-600">
      Already have an account?
      <a class="font-medium text-emerald-600 hover:text-emerald-500" routerLink="/login">
        Log in
      </a>
    </p>

  </div>
</div>
