.form-signup {
  max-width: 430px;
  padding-top: 3rem;
  border-style: solid;
  border-radius: 15px;
  padding: 3rem;
  margin-top: 3rem !important;
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="text"] {
  margin-bottom: -1px;
  background-color: #fff;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  background-color: #fff;
}

.form-signup input {
  margin-top: 1rem;
}

.error-message {
  color: red;
}

.btn-signup {
  margin-top: 1rem;
  background-color: var(--button-color);
  border-color: #000;
}
