<div class="container">
  <main class="form-signup w-80 m-auto">
    <h2>Register</h2>
    <form [formGroup]="form" (submit)="onSubmit()">
      <div class="form-floating">
        <input type="text" class="form-control" id="firstname" placeholder="firstname" formControlName="firstname">
        <label for="firstname">First Name</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="lastname" placeholder="lastname" formControlName="lastname">
        <label for="lastname">lastname</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="username" placeholder="username" formControlName="username">
        <label for="username">username</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="email" placeholder="email" formControlName="email">
        <label for="email">email</label>
      </div>

      <div *ngIf="email?.invalid" class="error-message">
        <span *ngIf="email?.errors?.['email']">Invalid email format</span>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        <label for="password">Password</label>
      </div>

      <button class="btn btn-primary w-100 py-2 btn-signup" type="submit" [disabled]="form.invalid">Register</button>

      @if (errorMessage != "") {
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      }

    </form>
  </main>
</div>
