.form-signup {
  max-width: 430px;
  padding-top: 3rem;
  /*margin-top: 1000px;*/
}

.form-signup .form-floating:focus-within {
  z-index: 2;
}

.form-signup input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
}

.form-signup input {
  margin-top: 1rem;
}

.error-message {
  color: red;
}
