<div class="key-features py-16 bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h2 class="text-3xl md:text-4xl font-bold mb-8 text-center text-[#4f772d]">
      Key Features
    </h2>

    <div class="animate__animated animate__fadeIn h-auto bg-gray-50 rounded-lg shadow-sm">
      <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="300ms" class="feature-tabs h-auto">

        @for (feature of features; track feature.label) {
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon class="mr-2">{{feature.icon}}</mat-icon>
              {{feature.label}}
            </ng-template>
            <div class="p-6 h-auto">
              <mat-card class="feature-card">
                <mat-card-content class="feature-content-container">

                  <div class="feature-image">
                    <img ngOptimizedImage [src]="feature.imageUrl"
                         [alt]="feature.imageAlt"
                         [title]="feature.imageAlt"
                         class="rounded-lg shadow-md w-full h-auto object-cover transition-transform duration-300 hover:scale-105"
                         style="aspect-ratio: 16/9;">
                  </div>

                  <div class="feature-text">
                    <h3 class="text-2xl font-medium mb-4 text-[#31572C]">{{feature.title}}</h3>
                    <ul class="list-disc pl-5 space-y-2 mb-4">
                      @for (point of feature.bulletPoints; track point) {
                        <li>{{point}}</li>
                      }
                    </ul>
                  </div>

                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
        }

      </mat-tab-group>
    </div>
  </div>
</div>
