@reference "tailwindcss";

.menu-item {
  @apply flex items-center gap-x-4 rounded-lg px-3 py-2 text-lg font-medium
  text-gray-900 hover:bg-emerald-50 hover:text-emerald-800;
}

.menu-item-button {
  @apply flex w-full items-center gap-x-4 rounded-lg px-3 py-2 text-left
  text-lg font-medium text-gray-900 hover:bg-emerald-50 hover:text-emerald-800
  hover:cursor-pointer;
}

.backdrop-enter {
  animation: fadeIn 150ms ease-out forwards;
}

.backdrop-leave {
  animation: fadeOut 150ms ease-in forwards;
}

.panel-enter {
  animation: slideIn 150ms ease-out forwards;
}

.panel-leave {
  animation: slideOut 150ms ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
