<mat-toolbar color="primary" class="mat-elevation-z4 responsive-toolbar">

  <span class="logo" [routerLink]="['/']">Healthy Carbs</span>

  <span class="spacer"></span>

  <nav class="desktop-only nav-links">
    <a mat-button [routerLink]="['/oferta']">Oferta</a>
    <a mat-button [routerLink]="['/cennik']">Cennik</a>
    <a mat-button [routerLink]="['/FAQs']">FAQs</a>
    <a mat-button [routerLink]="['/o-nas']">O nas</a>
  </nav>

  <button mat-icon-button [matMenuTriggerFor]="navMenu" class="mobile-only">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #navMenu="matMenu">
    <button mat-menu-item [routerLink]="['/oferta']">Oferta</button>
    <button mat-menu-item [routerLink]="['/cennik']">Cennik</button>
    <button mat-menu-item [routerLink]="['/FAQs']">FAQs</button>
    <button mat-menu-item [routerLink]="['/o-nas']">O nas</button>
  </mat-menu>

  <div class="auth-buttons">
    @if (!isLoggedIn) {
      <button mat-stroked-button color="accent" [routerLink]="['/login']" class="login-btn">Login</button>
      <button mat-stroked-button color="accent" [routerLink]="['/register']" class="register-btn">Sign-up</button>
    } @else {
      <button mat-flat-button color="accent" [routerLink]="['/user']">{{ username }}</button>
      <button mat-stroked-button (click)="logout()">Logout</button>
    }
  </div>


</mat-toolbar>
