<section
  class="mx-auto max-w-3xl bg-white p-6"
>
  <div class="flex flex-wrap gap-4">

    <a
      [ngClass]="getButtonClasses('edit_user_details')"
      routerLink="/user/edit_user_details"
    >
      <i aria-hidden="true" class="fa-solid fa-user"></i>
      Edit user details
    </a>

    <a
      [ngClass]="getButtonClasses('change_password')"
      routerLink="/user/change_password"
    >
      <i aria-hidden="true" class="fa-solid fa-lock"></i>
      Edit password
    </a>

    <a
      [ngClass]="getButtonClasses('my_subscription')"
      routerLink="/user/my_subscription"
    >
      <i aria-hidden="true" class="fa-solid fa-clipboard-list"></i>
      My subscription
    </a>

    <a
      [ngClass]="getButtonClasses('history')"
      routerLink="/user/history"
    >
      <i aria-hidden="true" class="fa-solid fa-clock-rotate-left"></i>
      History
    </a>

  </div>
</section>

<router-outlet></router-outlet>
