<div class="user-settings-wrapper">
  <div class="button-group">
    <button mat-stroked-button color="primary" class="user-button" [routerLink]="['/user/edit_user_details']">
      Edit user details
    </button>
    <button mat-stroked-button color="primary" class="user-button" [routerLink]="['/user/change_password']">
      Edit password
    </button>
    <button mat-stroked-button color="primary" class="user-button" [routerLink]="['/user/my_subscription']">
      My subscription
    </button>
    <button mat-stroked-button color="primary" class="user-button" [routerLink]="['/user/history']">
      History
    </button>
  </div>

  <router-outlet></router-outlet>
</div>
