<div class="how-it-works py-16 bg-white">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">

    <h2 class="mb-12 text-center text-emerald-700 text-3xl font-bold md:text-4xl">
      How does our meal plan generation work?
    </h2>

    <div class="grid gap-10 sm:grid-cols-2 lg:grid-cols-3">
      @for (step of steps; track step; let i = $index) {
        <div
          class="animate-fadeIn rounded-lg bg-gray-50 p-6 shadow transition
                 duration-300 hover:scale-105 hover:shadow-lg"
        >
          <div
            class="mx-auto mb-4 flex h-12 w-12 items-center justify-center
                   rounded-full bg-emerald-600 text-lg font-semibold text-white"
          >
            {{ i + 1 }}
          </div>

          <h3 class="mb-2 text-center text-2xl font-medium text-gray-800">
            {{ step.label }}
          </h3>

          <h4 class="mb-4 text-center text-xl font-medium text-gray-700">
            {{ step.title }}
          </h4>

          <img
            [alt]="step.imageAlt"
            [ngSrc]="step.imageUrl"
            [title]="step.imageAlt"
            class="mb-4 w-full h-40 rounded-lg object-cover shadow"
            fill
            ngOptimizedImage
          />

          <p class="text-m text-gray-600">
            {{ step.description }}
          </p>

        </div>
      }

    </div>
  </div>
</div>
