<div class="light-form-wrapper">
  <h2 class="text-center mb-4">Change Password</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="light-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Old Password</mat-label>
      <input matInput type="password" formControlName="oldPassword" autocomplete="current-password" />
      @if (form.get('oldPassword')?.hasError('required')) {
        <mat-error>Old password is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>New Password</mat-label>
      <input matInput type="password" formControlName="newPassword" autocomplete="new-password" />
      @if (form.get('newPassword')?.hasError('required')) {
        <mat-error>New password is required</mat-error>
      }
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Update Password
    </button>

    @if (errorMessage) {
      <mat-error>{{ errorMessage }}</mat-error>
    }
  </form>
</div>
