<div class="light-form-wrapper">
  <h2 class="text-center mb-4">Change Password</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="light-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Old Password</mat-label>
      <input autocomplete="current-password" formControlName="oldPassword" matInput placeholder="Old Password"
             type="password"/>
      @if (form.get('oldPassword')?.hasError('required')) {
        <mat-error>Old password is required</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>New Password</mat-label>
      <input autocomplete="new-password" formControlName="newPassword" matInput placeholder="New Password"
             type="password"/>
      @if (form.get('newPassword')?.hasError('required')) {
        <mat-error>New password is required</mat-error>
      }
    </mat-form-field>


    <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">
      Update Password
    </button>

    @if (errorMessage()) {
      <mat-error>{{ errorMessage() }}</mat-error>
    }
  </form>
</div>
