<div class="container" >

<main class="form-signin w-100 m-auto">
  <form [formGroup]="form" (submit)="onSubmit()">

    <h2 class="h2 mb-2 fw-normal">Please sign in</h2>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" placeholder="name" formControlName="username">
      <label for="username">Username</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
      <label for="password">Password</label>
    </div>

<!--    <div class="form-check text-start my-3">-->
<!--      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">-->
<!--      <label class="form-check-label" for="flexCheckDefault">-->
<!--        Remember me-->
<!--      </label>-->
<!--    </div>-->

    <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="form.invalid">Sign in</button>

    @if (errorMessage != "") {
      <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
    }

    <p class="mt-5 mb-3 text-body-secondary">&copy; 2024</p>

  </form>
</main>

</div>
