.form-signin {
  max-width: 400px;
  border-style: solid;
  border-radius: 15px;
  padding: 3rem;
  margin-top: 3rem !important;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  background-color: #fff;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  background-color: #fff;
}

.form-signin input {
  margin-top: .5rem;
}

.btn-signin {
  background-color: var(--button-color);
  border-color: #000;
}

.alert{
  margin-top: 1rem;
}
