.login-card {
  max-width: 420px;
  margin: 4rem auto;
  padding: 2rem;
  border-radius: 12px;
  background-color: #1e1e1e;
  //color: #fff;
}

.full-width {
  width: 100%;
  margin-top: 1rem;
}

h2 {
  color: #000;
  text-align: center;
  margin-bottom: 1.5rem;
}

mat-label,
input,
mat-form-field {
  //color: #fff !important;
}

mat-error {
  color: #f44336;
  font-size: 0.85rem;
}

.light-form-wrapper {
  background-color: #f9f9f9;
  color: #212121;
  padding: 3rem 1rem;
  font-family: Roboto, sans-serif;
}

.light-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 1.5rem;
  border-radius: 9999px !important;
}
