<mat-card class="login-card">
  <h2 class="text-center">Please sign in</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" required />
    </mat-form-field>

    <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="form.invalid || isSubmitting">
      {{ isSubmitting ? 'Signing in...' : 'Sign in' }}
    </button>

    <mat-error *ngIf="errorMessage" class="mt-2">
      {{ errorMessage }}
    </mat-error>

  </form>
</mat-card>
