<div class=" flex items-center justify-center px-4 sm:px-6 lg:px-8 py-8">
  <div class="max-w-md w-full space-y-8 p-8">

    <app-auth-header
      [headerSubText]="'Please sign in to use your account'"
      [headerText]="'Welcome back!'"
    />

    <form
      (ngSubmit)="onSubmit()"
      [formGroup]="form"
      class="mt-8 space-y-6"
    >
      <div class="grid gap-4">

        @for (field of loginFormFields; track field.key) {
          <app-text-input
            [autocapitalize]="field.autocapitalize ?? 'none'"
            [autocomplete]="field.autocomplete"
            [formControlName]="field.key"
            [id]="field.key"
            [label]="field.label"
            [placeholder]="field.placeholder"
            [type]="field.type"
          />
        }

      </div>

      <div>
        <button
          [class]="getButtonClasses()"
          [disabled]="form.invalid || isSubmitting()"
          type="submit"
        >
          {{ isSubmitting() ? 'Signing in...' : 'Sign in' }}
        </button>
      </div>

      @if (errorMessage()) {
        <app-error-message [message]="errorMessage()"/>
      }
    </form>

    <div class="mt-4 flex justify-end">
      <a
        class="text-sm text-gray-500 hover:text-emerald-600 transition-colors"
        routerLink="/forgot-password"
      >
        Forgot your password?
      </a>
    </div>

    <app-auth-helper-text
      [infoText]="'Don\'t have an account yet?'"
      [linkText]="'Sign up'"
      [linkUrl]="'/register'"
    />

  </div>
</div>
