<div class="light-form-wrapper">
  <h2 class="text-center mb-4">Please sign in</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="light-form">
    <!-- Recommended by browser for accessibility -->
    <input autocomplete="username" hidden type="text"/>

    <!-- Username -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Username</mat-label>
      <input autocomplete="username" formControlName="username" matInput placeholder="Username"/>
      @if (form.get('username')?.hasError('required')) {
        <mat-error>Username is required</mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input autocomplete="current-password" formControlName="password" matInput placeholder="Password"
             type="password"/>
      @if (form.get('password')?.hasError('required')) {
        <mat-error>Password is required</mat-error>
      }
    </mat-form-field>

    <!-- Submit Button -->
    <button
      [disabled]="form.invalid || isSubmitting()"
      class="small-button"
      color="primary"
      mat-raised-button
      type="submit">
      {{ isSubmitting() ? 'Signing in...' : 'Sign in' }}
    </button>

    <!-- Global error -->
    @if (errorMessage()) {
      <mat-error class="mt-2">{{ errorMessage() }}</mat-error>
    }
  </form>
</div>
