@use '@angular/material' as mat;

// Customize palettes
$primary: mat.m2-define-palette(mat.$m2-green-palette, 900); // e.g. dark green
$accent: mat.m2-define-palette(mat.$m2-light-green-palette, 400); // light green
$warn: mat.m2-define-palette(mat.$m2-red-palette);

// Define light theme
$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
));

// Apply theme to all components
@include mat.all-component-themes($custom-theme);

:root{
  --background-color: #f9f9f9;
  --font-family: Roboto, "Helvetica Neue", sans-serif;
  --button-color: #31572C;
  --button-nav-color: #4F772D;
  --nav-bg-color: #132A13;

}


html, body { height: 100%; }
body {
  margin: 0;
  font-family: var(--font-family), serif;
  background-color: var(--background-color);
}

html, body {
  height: 100%;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
}

app-footer {
  flex-shrink: 0;
}

button {
  border-radius: 9999px !important;
}
