@use '@angular/material' as mat;

// Use the M2-compatible palettes
$custom-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$custom-accent: mat.m2-define-palette(mat.$m2-pink-palette);
$custom-warn: mat.m2-define-palette(mat.$m2-red-palette);

$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $custom-primary,
    accent: $custom-accent,
    warn: $custom-warn
  )
));

@include mat.all-component-themes($custom-theme);

// Your CSS variables and styles
:root {
  --background-color: #f9f9f9;
  --font-family: Roboto, "Helvetica Neue", sans-serif;
  --button-color: #31572C;
  --button-nav-color: #4F772D;
  --nav-bg-color: #132A13;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family), serif;
  background-color: var(--background-color);
}
