@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;


// Customize palettes
$primary: mat.m2-define-palette(mat.$m2-green-palette, 900); // e.g. dark green
$accent: mat.m2-define-palette(mat.$m2-light-green-palette, 400); // light green
$warn: mat.m2-define-palette(mat.$m2-red-palette);

// Define light theme
$custom-theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn
  ),
));

// Apply theme to all components
@include mat.all-component-themes($custom-theme);

:root {
  @include mat.form-field-overrides((
    outlined-container-shape: var(--mat-sys-corner-medium) // example value
  ));

  --background-color: #fff;
  --font-family: Roboto, "Helvetica Neue", sans-serif;
  --button-color: #31572C;
  --button-nav-color: #4F772D;
  --nav-bg-color: #132A13;

}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family), serif;
  background-color: var(--background-color);
}

html, body {
  height: 100%;
  margin: 0;
}

.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1 0 auto;
}

app-footer {
  flex-shrink: 0;
}

button {
  border-radius: 9999px !important;
}

.mat-menu-panel,
.mat-mdc-menu-panel {
  border-radius: 12px !important;
  background-color: #f0f0f0 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
}

.mat-select-panel,
.mat-mdc-select-panel {
  border-radius: 12px !important;
  background-color: #f0f0f0 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
}

.mat-option,
.mat-mdc-option {
  padding: 12px;
  font-size: 14px;
}

.mat-option:hover,
.mat-mdc-option:hover {
  background-color: #e0e0e0;
}

.small-button {
  width: 20rem;
  padding: 4px 8px;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
}

