:root{
  --background-color: #FEFAE0;
  --font-family: Roboto, "Helvetica Neue", sans-serif;
  --button-color: #31572C;
  --button-nav-color: #4F772D;
  --nav-bg-color: #132A13;

}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: var(--font-family), serif;
  background-color: var(--background-color);
}
