#mealplan-form {
  max-width: 90%;
  margin: 2rem auto;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

.form-field {
  flex: 1 1 0;
  min-width: 200px;
}

.allergy-label {
  display: block;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.allergy-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

#select-button {
  background-color: var(--button-color);
  border-color: #000;
}

.step-navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.step-navigation button:last-child {
  margin-left: auto;
}

::ng-deep .mat-step-header {
  &.mat-step-header-ripple {
    background-color: var(--button-color);
  }
}

@media (max-width: 768px) {
  .step-navigation {
    flex-direction: column;
    gap: 0.5rem;
  }

  .step-navigation button {
    width: 100%;
  }

  .step-navigation button:last-child {
    margin-left: 0;
  }
}

.container {
  padding-top: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
