<footer class="bg-gray-50">
  <div class="mx-auto border-gray-200 px-4 py-8 sm:px-6 lg:px-8">

    <nav
      class="flex flex-wrap items-center
          justify-center gap-x-10 gap-y-4
          text-base font-medium text-gray-700"
    >
      @if (isLoggedIn()) {
        <a class="hover:text-emerald-900" routerLink="/blog">Blog</a>
        <a class="hover:text-emerald-900" routerLink="/offers">Offers</a>
        <a class="hover:text-emerald-900" routerLink="/recipes">Recipes</a>
      } @else {
        <a class="hover:text-emerald-900" routerLink="/login">Sign In</a>
        <a class="hover:text-emerald-900" routerLink="/register">Sign Up</a>
      }
    </nav>


    <p class="mt-10 text-center text-sm text-gray-500">
      &copy; 2025 Healthy Carbs. All rights reserved.
    </p>

  </div>
</footer>
