<div class="space-y-12 p-10">

  <section class="space-y-6">
    <h2 class="text-2xl font-semibold text-gray-900">Twoje statystyki</h2>

    <div class="grid gap-6 lg:grid-cols-2 min-w-0">

      <div class="card min-w-0">
        <div>
          <h3>Postęp wagi</h3>
        </div>

        <div>
          <ngx-charts-line-chart
            [autoScale]="true"
            [gradient]="gradient"
            [legendPosition]="legendPosition"
            [legend]="!isSmallScreen"
            [results]="weightData"
            [scheme]="colorScheme"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [timeline]="timeline"
            [xAxisLabel]="xAxisLabel"
            [xAxis]="showXAxis"
            [yAxisLabel]="yAxisLabel"
            [yAxis]="showYAxis"
            class="h-full w-full"
          ></ngx-charts-line-chart>
        </div>

      </div>

      <div class="min-w-0">
        <div>
          <h3>Makroskładniki</h3>
        </div>

        <div>
          <ngx-charts-pie-chart
            [doughnut]="isDoughnut"
            [gradient]="gradient"
            [labels]="showLabels"
            [legendPosition]="legendPosition"
            [legend]="!isSmallScreen"
            [results]="caloriesData"
            [scheme]="colorScheme"
            class="h-full w-full"
          ></ngx-charts-pie-chart>
        </div>

      </div>

    </div>
  </section>

  <section>
    <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4  2xl:grid-cols-5 xl:grid-cols-5">
      @for (category of categories; track category) {
        <div class="rounded-lg bg-white shadow">

          <img
            [alt]="category.name"
            [ngSrc]="category.image"
            class="h-40 w-full object-cover"
            height="200"
            ngOptimizedImage
            width="400"
          />

          <div class="p-4">
            <h3 class="mb-4 text-lg font-medium text-gray-900">
              {{ category.name }}
            </h3>
            <div class="text-right">
              <a
                [routerLink]="['/', category.route]"
                class="inline-flex items-center gap-2 rounded-full bg-emerald-600
                       px-4 py-2 text-sm font-semibold text-white transition
                       hover:bg-emerald-700"
              >
                <fa-icon [icon]="faArrowRight"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      }
    </div>
  </section>

</div>
