.light-form-wrapper {
  background-color: #f9f9f9;
  padding: 3rem 1rem;
  //min-height: 100vh;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #212121;
}

.light-form {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 1.5rem;
}

button[mat-raised-button] {
  background-color: #4f772d;
  color: white;
  font-weight: 600;
  padding: 0.75rem;
  border-radius: 8px;
}

button[mat-raised-button]:hover {
  background-color: #3d5f1d;
}

mat-error {
  color: #d32f2f;
  margin-top: 1rem;
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: left;
}
